<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
        <meta name="description" content="{% block description %}{% endblock %}"/>
        <meta name="robots" content="All" />

        {% block metadatos %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        
        <link href="{{ asset('bundles/core/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/core/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/core/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/core/css/jquery-ui.min.css') }}" rel="stylesheet">
        
        <script src="{{ asset('bundles/core/js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('bundles/core/js/jquery-migrate-1.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/core/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/core/js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %} 
    </head>
    <body>
        {% block cabecera %}{% endblock %}
        {% block body %}
            {% block contenido %}{% endblock %}
        {% endblock %}
        {% block footer %}{% endblock %}
    </body>
    {% block javascripts2 %}{% endblock %} 
</html>