{# empty Twig template #}
{% extends '::bodyPrincipal.html.twig'%}

{% block title %}Proyecto piloto{% endblock %}

{% block cuerpo %}
    <div class="col-lg-3 col-md-3">
        <div class="mega-left-title">
            <i class="fa fa-list"></i> <strong>Categor&iacute;as</strong>
        </div>
        <div class="css_effect sm_megamenu_wrapper_vertical_menu sambar" id="sm_megamenu_menu550a7f952664d" data-sam="15978902891426751381">
            <div class="sambar-inner">
                <a class="btn-sambar" data-sapi="collapse" href="#sm_megamenu_menu550a7f952664d">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>	
                <ul class="sm-megamenu-hover sm_megamenu_menu ">
                    <li class="">
                        <form method="POST" action="{#{path('busqueda')}#}" id="formbuscar">
                            <input type="text" name="text" />
                            <input type="image" src="/imagenes/lupa.png" />
                        </form>
                    </li>
                    {#% for categoria in categorias %}
                        <li class="">
                            <a href="{{path('page_categegoria', {'nombrecategoria': categoria.nameURL})}}" ><span class="">{{categoria}}</span></a>
                        </li>
                        {% if (categoria.subcategories | length) > 0 %}
                            <ul class="ocultar" class="menuSubcategorias">
                                {% for subcategoria in categoria.subcategories %}
                                    <li><a href="{{path('page_subcategoria', {'nombrecategoria': subcategoria.category.nameURL, 'nombresubcategoria': subcategoria.nameURL})}}">{{subcategoria}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {%endfor%#}
                </ul>
            </div>
        </div>
    </div>
                    
    <div class="col-lg-9 col-md-9">
	<div class="deal-wrapper">
            <div class="block-title-default">
                <h2><span>Nuevo usuario</span></h2><div class="triangulo_bottom_left">&nbsp;</div>
            </div>
            <div class="contenedor">
            <form class="well" action="{{ path('registro', {'id' : user.id}) }}" method="post" enctype='multipart/form-data' >
                <div class="row">
                    <div class="form-group col-sm-3">
                        {{ form_label(form.fullname) }}
                        {{form_widget(form.fullname)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.lastname) }}
                        {{form_widget(form.lastname)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.phonenumber) }}
                        {{form_widget(form.phonenumber)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.country) }}
                        {{form_widget(form.country)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.city) }}
                        {{form_widget(form.city)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.address) }}
                        {{form_widget(form.address)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.postalcode) }}
                        {{form_widget(form.postalcode)}}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.email) }}
                        {{form_widget(form.email)}}
                    </div>
                </div>
                <div class="row">    
                    <div class="form-group col-sm-6">
                         {{form_label(form.password.first)}}
                         {{form_widget(form.password.first)}}
                    </div>
                    <div class="form-group col-sm-6">
                         {{form_label(form.password.second)}}
                         {{form_widget(form.password.second)}}
                    </div>
                </div>    

                {{form_rest(form)}}
                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            <a class="botonazul"  title="Volver a la página anterior" href="{{ path('homepage') }}">
                                Volver
                            </a>
                            <button type="submit" class="botonazul">Guardar</button>
                        </div>
                    </div>
                </form>            
            </div>
        </div>							
    </div>

{% endblock %}
{% block javascripts22 %}
    <script type="text/javascript">
        var urlAniadirProducto = "{#{path('cart_add')}#}";
        var urlvertarifas = "{#{path('ver_tarifas')}#}";
    </script>
    <script src="{#{ asset('bundles/principal/js/carrito.js') }#}"></script>
    <script type="text/javascript">
        
    </script>
{% endblock %}